---
branches:
  only:
    - master

language: node_js
node_js:
  # we recommend testing addons with the same minimum supported node version as Ember CLI
  # so that your addon works for all apps
  - "8"

sudo: false
dist: trusty

addons:
  chrome: stable

cache:
  yarn: true

env:
  global:
    # See https://git.io/vdao3 for details.
    - JOBS=1
    - BROWSERSTACK_USERNAME=katiegengler3
    - BROWSERSTACK_ACCESS_KEY=oxgsHxw5LBd5hqzwMnSC

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH

install:
  - yarn install --no-lockfile --non-interactive

script:
  - yarn lint:js
  - yarn test:node
  - ember browserstack:connect
  - ember test --host 127.0.0.1
  - ember browserstack:results

after_script:
  - ember browserstack:disconnect
