---
language: node_js
node_js:
  # we recommend testing addons with the same minimum supported node version as Ember CLI
  # so that your addon works for all apps
  - "4"

sudo: false
dist: trusty

addons:
  chrome: stable

cache:
  yarn: true

env:
  global:
    # See https://git.io/vdao3 for details.
    - JOBS=1
    - BROWSERSTACK_USERNAME=katiegengler3
    - BROWSERSTACK_ACCESS_KEY=oxgsHxw5LBd5hqzwMnSC

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH

install:
  - yarn install --no-lockfile --non-interactive

script:
  - ember browserstack:connect
  - ember test

after_script:
  - ember browserstack:disconnect
